.container {
  footer {
    width: 1280px;
    height: 120px;
    background-color: #2c343e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 450px;
    margin-bottom: 500px;

    .footer_logo {
      width: 236px;
      height: 26px;
      margin-left: 50px;
    }
    .footer_navbar {
      list-style: none;
      display: flex;
      margin-right: 290px;
      &_list_item {
        color: #83888f;
        margin-right: 24px;
        font-family: "Barlow", sans-serif;
        &:hover {
          transform: scale(1.2);
          color: #fff;
        }
      }
    }
    .footer_sites {
      width: 120px;
      display: flex;
      justify-content: space-between;
      margin-right: 85px;
      &_list_items {
        display: inline-block;
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .container {
    footer {
      width: 768px;
      height: 270px;
      background-color: #2c343e;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      top: 450px;
      margin-bottom: 500px;
  
      .footer_logo {
        width: 236px;
        height: 26px;
        margin-left: 50px;
        margin-top: 54px;
      }
      .footer_navbar {
        list-style: none;
        display: flex;
        margin-right: -23px;
        margin-top: 32px;
        &_list_item {
          color: #83888f;
          margin-right: 24px;
          font-family: "Barlow", sans-serif;
          &:hover {
            transform: scale(1.2);
            color: #fff;
          }
        }
      }
      .footer_sites {
        width: 120px;
        margin-bottom: 54px;
        display: flex;
        justify-content: space-between;
        margin-right: -30px;
        &_list_items {
          display: inline-block;
        }
      }
    }
  }
}